@font-face {
  font-family: "LEMONMILK";
  src: url(../public/asset/font/LEMONMILK-Regular.otf);
}

@font-face {
  font-family: "LEMONMILK";
  src: url(../public/asset/font/LEMONMILK-RegularItalic.otf);
  font-style: italic;
}

@font-face {
  font-family: "LEMONMILK";
  src: url(../public/asset/font/LEMONMILK-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: "LEMONMILK";
  src: url(../public/asset/font/LEMONMILK-BoldItalic.otf);
  font-weight: bold;
  font-style: italic;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "LEMONMILK", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #E5E5E5;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px
}

::-webkit-scrollbar-thumb {
  background: #393939;
  border-radius: 10px;  
}

::-webkit-scrollbar:horizontal {
  width: 6px;
  height: 13px;
} 

::-webkit-scrollbar-thumb:horizontal {
  background: #393939;
  border-radius: 10px;
}